@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebTruyenTranh.Models.TblChuong

@{
    ViewData["Title"] = "SuaChuong";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Sửa chương</h1>

<h4>Chương</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="SuaChuong">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdChuong" />
            <div class="form-group">
                <label asp-for="TenChuong" class="control-label"></label>
                <input asp-for="TenChuong" class="form-control" />
                <span asp-validation-for="TenChuong" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="IdTruyen" class="control-label"></label>
                <input asp-for="IdTruyen" class="form-control" />
                <span asp-validation-for="IdTruyen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChuongSo" class="control-label"></label>
                <input asp-for="ChuongSo" class="form-control" />
                <span asp-validation-for="ChuongSo" class="text-danger"></span>
            </div>*@
            <input type="hidden" asp-for="IdTruyen" />
            <input type="hidden" asp-for="ChuongSo" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

