@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutTruyenTranh.cshtml";
}
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TblTruyen>
@foreach(var item in Model)
{
    <div class="col-lg-4">
        <div class="position-relative mb-3">
            <img class="img-fluid w-100" src="@Url.Content("../assets/anhdaidien/"+item.AnhDaiDien)" style="object-fit: cover;height:280px;">
            <div class="bg-white border border-top-0 p-4">
                <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" asp-controller="Home" asp-action="ChiTietTruyen" asp-route-matruyen="@item.IdTruyen">@item.TenTruyen</a>
                <p class="m-0">
                    Chương 1
                </p>
                <p class="m-0">
                    Chương 2
                </p>
            </div>
        </div>
    </div>
}
<div>
    @Html.PagedListPager(Model, page=>Url.Action("Index", new{page=page}))
</div>